body {
    background-color: #fffffe;
    text-decoration: none;
    /* text-align: center; */
}

a {
    border: 1px solid black;
    text-decoration: none;
    margin: 0 auto;
    /* display: block; */
    padding: 1.5%;
    margin: 1%;
    /* word-break: break-all; */
    /* line-height: 40px;
    font-size: 40px; */
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000000;
}

a:active {
    color: #000000;
}

div {
    /* border: solid 1px black; */
    box-sizing: border-box;
    text-align: left;
    float: left;
    line-height: 100px;
    font-weight: extra-light;
    font-size: 40px;
    padding: 1%;
    margin: 1%;
    font-family: "Source Han Serif";
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    box-shadow: 6px 6px;
}

hr {
    height: 1px;
    border: none;
    border-top: 1px #000000 solid;
}

.container1 {
    width: 75%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    padding: 2%;
    text-align: center;
    overflow: hidden;
    float: none;
    /* padding-bottom: 100%; */
}

.container2 {
    width: 75%;
    height: auto;
    margin: 0 auto;
    /* border: 1px solid black; */
    padding: 1%;
    text-align: center;
    overflow: hidden;
    float: none;
    /* padding-bottom: 100%; */
}

.container3 {
    width: 95%;
    height: auto;
    text-align: center;
    overflow: hidden;
    float: none;
}

.leftbox {
    width: 25%;
    height: auto;
    margin: 0 auto;
    /* border: 1px solid black; */
    padding: 2%;
    text-align: center;
    overflow: hidden;
    float: left;
    /* padding-bottom: 100%; */
}

.rightbox {
    width: 75%;
    height: auto;
    margin: 0 auto;
    /* border: 1px solid black; */
    padding: 2%;
    text-align: center;
    overflow: hidden;
    float: right;
    /* padding-bottom: 100%; */
}

.box {
    border: 1px solid red;
    /* position: absolute; */
    text-align: center;
    display: inline-block;
    overflow: hidden;
}


.header {
    width: 100%;
    height: 80%;
    font-weight: bold;
    float: none;
    line-height: 25px;
    padding: 0.5%;
    margin: 0.5%;
    font-size: 40px;
    display: inline-block;
    /* overflow: hidden; */
}

.blank {
    width: 40%;
    padding: 1%;
    margin: 1%;
    /* float: left; */
    font-weight: bold;
    border: solid 1px white;
    display: inline-block;
    /* border: none; */
}

.book {
    /* float: left; */
    text-align: center;
    /* border-color: yellow; */
    border: solid 1px white;
    /* width: 20%; */
    display: inline-block;
    /** 横幅50% **/
}



.title {
    font-weight: 500;
    width: 100%;
    line-height: 30px;
    padding: 0.5%;
    margin: 0.5%;
    background-color: white;
    font-size: 30px;
    display: inline-block;
}

.box4 {
    /* float: left; */
    text-align: center;
    /* border-color: yellow; */
    width: 98%;
    font-size: 20px;
    line-height: 50px;
    /** 横幅50% **/
    display: inline-block;
}

.desc {
    /* float: left; */
    /* border-color: yellow; */
    width: 100%;
    height: 50%;
    line-height: 35px;
    font-size: 20px;
    padding: 2%;
    margin: 1%;
    display: inline-block;
    /* -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl; */
}

.readafter {
    width: 80%;
    /* text-align: center; */
    /* margin: 0 auto; */
    line-height: 20px;
    padding: 0.5%;
    margin: 0.5%;
    background-color: white;
    font-size: 18px;
    display: inline-block;
}

.read_prev {
    width: 30%;
    height: auto;
    line-height: 20px;
    background-color: white;
    font-size: 24px;
    /* display: inline-block; */
    float: right;
    padding: 3%;
    margin: 3%;
}

.read_next {
    width: 30%;
    height: auto;
    line-height: 20px;
    background-color: white;
    font-size: 24px;
    /* display: inline-block; */
    float: left;
    padding: 3%;
    margin: 3%;
}



.hvr-sweep-to-right {
    display: inline;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
    color: white;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
