<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.description}}{% endif %}</title>
    <!-- Normalize.css -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- Main CSS -->
    <!-- <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"> -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
</head>

<body>
    <!-- <header class="header"> -->
        <div class="container2">
            <div class="header">
                <a href="{{ site.baseurl }}/" class="hvr-sweep-to-right">
                  {{ site.title }}
                </a>
            </div>
        </div>
    <!-- </header> -->
    <p></p>

    <div class="container1">
      {{ content }}
    </div>

<footer class="footer">
    <div class="box4">
      &copy; 2018 {{ site.author.name }}
    </div>
</footer>
</body>
</html>
